.container {
    border: 1px #E5E5E5 solid;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1240px;
    height: 336px;

    .atributes {
        .title {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 400;
            font-size: 30px;
            line-height: 27px;
        }

        .price {}

        .size {
            h3 {
                margin-bottom: -11px;
                font-family: "Roboto Condensed";
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 18px;
            }

            ul {
                display: flex;
                margin-left: -40px;
            }

            li {
                cursor: pointer;
                list-style: none;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 45px;
                width: 63px;
                border: 1px solid #1d1f22;
                margin-right: 12px;
                font-family: "Source Sans Pro";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 18px;
            }
        }

        .color {
            margin-top: 4px;

            h3 {
                font-family: "Roboto Condensed";
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 18px;
            }

            .manyColor {
                margin-top: -11px;
                display: flex;

                .grey {
                    cursor: pointer;
                    height: 32px;
                    width: 32px;
                    background-color: #d3d2d5;
                    margin-right: 8px;
                }

                .black {
                    cursor: pointer;
                    height: 32px;
                    width: 32px;
                    background-color: #2b2b2b;
                    margin-right: 8px;
                }

                .green {
                    cursor: pointer;
                    height: 32px;
                    width: 32px;
                    background-color: #0f6450;
                }
            }
        }
    }

    .view {
        display: flex;
        align-items: center;
        .quantity {
            width: 24px;
            height: 190px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 160%;
            margin-right: 24px;
    
            button {
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 300;
                font-size: 30px;
                width: 24px;
                height: 24px;
                border: 1px #1D1F22 solid;
                line-height: '';
                color: #1D1F22;
                background-color: #ffffff;
    
                .minus {
                    padding-bottom: 4px;
                }
            }
        }

        .IMG {
            width: 200px;
            height:288px;
        }
    }
}