.navContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 266px;
  height: 56px;
  margin-top: 14px;
  padding-left: 101px;
  bottom: 0px;

  .nav {
    display: flex;
    margin: 3px 16px 0px 16px;
    width: 234px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    cursor: pointer;
    li {
      list-style-type: none;
      color: #1d1f22;

      a {
        display: flex;
        justify-content: center;
        padding: 22px 16px 30px 16px;
        text-decoration: none;
        position: relative;
        color: #1d1f22;
      }

      a:hover {
        color: #5ece7b;
      }
    }
  }
}
