.navContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    width: 234px;
    height: 56px;
    margin-top: 14px;
    margin-left: 87px;
    // left: 91px;
    bottom: 0px;
  
    .nav {
      display: flex;
      margin: 3px 16px 0px 16px;
      width: 234px;
      font-family: "Raleway";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
      cursor: pointer;
      
  
      a {
        display: flex;
        justify-content: center;
        padding: 22px 16px 30px 16px;
        text-decoration: none;
        position: relative;
        color: #1d1f22;
        
      }
  
      a:hover {
        color: #5ece7b;
        transition: 0.1s;
        
      }
  
      a:hover:before {
        transform: scaleX(1);
        
      }
  
      a:before {
        content: "";
        width: 100%;
        height: 2px;
        background-color: #5ece7b;
        position: absolute;
        bottom: 0px;
        transform: scaleX(0);
        transition: 0.3s;
      }
    }
  }
  .active {
    color: #5ece7b;
    border-bottom: 2px solid #5ece7b;
    transition: 0.3s;
  }