.headContainer {
    display:flex;
    position: fixed;
    height: 80px;
    width:1440px;
    justify-content: space-between;
    background-color: #ffffff;
    margin-top: -8px;
    z-index: 1;
    .logo{
      display:flex;
      position: relative;
      width: 41px;
      height: 41px;
      margin-top:20px;
      margin-right: 70px;
    }
  }