.Circle{
position:absolute;
background-color:#1D1F22;
width: 20px;
height: 20px;
border-radius: 15px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
display: flex;
justify-content: center;
align-items: center;
color:#ffffff;
left:27px;
top:7px;
z-index:0;
}