.container {
  display: flex;
  position: absolute;
  margin-left: -1286px;
  margin-top: 10px;
  height: 100vh;
  width: 1440px;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: default;
  z-index: 1;
  transition: 0.3s;

  .cartModal {
    position: fixed;
    width: 300px;
    margin-left: 1035px;
    padding: 0 16px 0 16px;
    background-color: #ffffff;
    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .items {
      height: 90px;
      width: 300px;
      background-color: #ffffff;
      position: fixed;
      font-family: "Raleway";
      font-style: normal;
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      h1 {
        font-weight: 700;
        font-size: 16px;
        line-height: 160%;
        color: #1d1f22;
      }

      p {
        font-weight: 500;
        font-size: 16px;
        line-height: 160%;
        color: #1d1f22;
        margin-left: 5px;
      }
    }

    .item {
      overflow: scroll;
      margin-top: 90px;
      margin-bottom: -35px;
      max-height: 480px;
      .empty {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
      }
    }

    .description {
      padding-top: 10px;
      width: 300px;
      margin-bottom: 10px;
      background-color: #ffffff;
      display: flex;
      flex-direction: column;
      padding-bottom: 15px;
      .price {
        display: flex;
        justify-content: space-between;

        .total {
          font-family: "Roboto";
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 18px;
          color: #1d1f22;
        }

        .sum {
          font-family: "Raleway";
          font-style: normal;
          font-weight: 700;
          font-size: 17px;
          line-height: 160%;
        }
      }

      .button {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;

        .button1 {
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          cursor: pointer;
          font-family: "Raleway";
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 120%;
          color: #1d1f22;
          border: 1px solid #1d1f22;
          background: #ffffff;
          width: 145px;
          height: 43px;
        }

        .button2 {
          cursor: pointer;
          font-family: "Raleway";
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 120%;
          border: none;
          background-color: #5ece7b;
          width: 145px;
          height: 43px;
        }
      }
    }
  }
}
