.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 18px;
  color: #1d1f22;
  height: 70px;
  .description {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    height:70px;
  }
  img {
    height: 70px;
  }
}
